.contact-wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-form {
    padding: 10vh;
    margin-top: 5vh;
    background-color: rgb(41, 44, 35);
    border: 1px solid rgb(56, 59, 50);
    width: 50%;
}

.text-input {
    /* margin-top: 1vh; */
    /* width: 40%; */
    border-radius: 15px;
    color: #FFF;
    height: 7vh;
    background: rgba(119, 125, 124, 0.15);
    border: none;
    transition: ease-in-out 0.3s;
}

.textarea-input {
    background: rgba(119, 125, 124, 0.15);
    color: #FFF;
    width: 30vw;
    border-radius: 15px;
    border: none;
    transition: ease-in-out 0.3s;
}

.text-input:focus {
    outline: 1px solid white;
    transform: scale(1.25);
    margin-right: 1vw;
    background: rgba(119, 125, 124, 0.5)
}

.textarea-input:focus {
    transform: scale(1.1);
    outline: 1px solid white;
    background: rgba(119, 125, 124, 0.5);
}

.text-input::placeholder, .textarea-input::placeholder {
    color: rgba(255, 255, 255, 0.45);
    text-align: center;
}