/* CSS Reset  */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  /* background: rgb(23, 36, 28); */
  background: rgb(24, 27, 18);
  /* background: rgb(22, 22, 22); */
  color: white;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* Fonts */

@font-face {
  font-family: 'bebasneue';
  src: url('../public/fonts/bebas_neue/BebasNeue-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'montserrat';
  src: url('../public/fonts/montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'helvetica';
  src: url('../public/fonts/helvetica_neue/helvetica-neue.otf') format('opentype');
}

.bebas {
  font-family: 'bebasneue', sans-serif;
}

.montserrat {
  font-family: 'montserrat', sans-serif;
}

.helvetica {
  font-family: 'helvetica', sans-serif;
}