.homepage {
    height: 100vh;
    width: 100vw;
}

.personal-info {
    display: flex;
    gap: 20vw;
}

.titleAndDesc {
    margin-top: 35vh;
    margin-left: 5vw;
    width: 35vw;
    cursor: default;
}

.full-name {
    margin: 0;
}

.typewriter {
    margin-top: 3vh;
    font-weight: 600;
}