.test{
    display: flex;
    flex-direction: column;
    gap: 5vw;
    width: 100vw;
    height: 100vh;
    text-align: center;
}

.skills-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(8, 1fr);
    gap: 1.5vw
}