.test {
    display: flex;
    flex-direction: column;
    gap: 5vw;
    width: 100vw;
    height: 100vh;
    text-align: center;
}

.skills-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(8, 1fr);
    gap: 1.5vw;
    margin-bottom: 5vw;
}

.top-skills, .bottom-skills {
    display: flex;
    flex-direction: column;
    width: 45vw;
    justify-content: center;
    /* margin-left: 5vw; */
}

.skill-assess {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.15em;
    width: 100vw;
    gap: 3vw;
}